body {
    background-color: #f0f0f0; /* Cor de fundo da galeria */
    font-family: Arial, sans-serif;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px;
}

.imagem {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.imagem img {
    width: 100%;
    height: auto;
    display: block;
}
